# Mission to Mars

Nasa Web Scraping

In [1]:
# import dependencies 
from bs4 import BeautifulSoup as bs
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd
import time as time
import re
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

In [3]:
# go to the directory
executable_path = {'executable_path': '/Usr/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### Nasa Mars News

In [4]:
# browse the web page
nasa_url = 'https://mars.nasa.gov/news/'
browser.visit(nasa_url)
time.sleep(3)
nasa_html = browser.html
nasa_soup = bs(nasa_html, 'html.parser')

In [17]:
# print the news titles
news_title = nasa_soup.find("li", class_="slide").find("div", class_="content_title").text
news_p = nasa_soup.find("li", class_="slide").find("div", class_="article_teaser_body").text
print("Title: ",news_title)
print("Paragraph: ",news_p)

Title:  NASA's Mars Helicopter to Make First Flight Attempt Sunday
Paragraph:  The small rotorcraft’s “Wright brothers moment” is two Mars days away.

### JPL Mars Space Images

In [24]:
#url for featured image'
image_url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(image_url)
image_html = browser.html
soup = bs(image_html, 'html.parser')

In [25]:

#Retrieve url for featured image
featured_image = soup.find('img', class_="headerimage fade-in")
featured_image_url = "https://spaceimages-mars.com/" + featured_image['src']
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

### Mars Facts

In [30]:
# facts url
facts_url = "https://space-facts.com/mars/"

# make into a table
tables = pd.read_html(facts_url)
mars_df = tables[0]

# assign column values and set index
mars_df.columns = ['Description','Value']
mars_df.set_index('Description', inplace=True)

# convert to html string
mars_html = mars_df.to_html()

# print results
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [32]:
print(mars_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [33]:
# hemispheres website
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)

# HTML Object and parse said object
html_hemispheres = browser.html
hemisphere_soup = bs(html_hemispheres, 'html.parser')

# retrieve all items for it
items = hemisphere_soup.find_all('div', class_='item')

# make an empty list for image urls
hemisphere_image_urls = []
hemispheres_main_url = 'https://astrogeology.usgs.gov'

# loopity loop through the items previously stored
for i in items: 
    title = i.find('h3').text
    partial_img_url = i.find('a', class_='itemLink product-item')['href']
    browser.visit(hemispheres_main_url + partial_img_url)
    partial_img_html = browser.html
     
    soup = bs( partial_img_html, 'html.parser')
    img_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})

# print result
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [36]:
results = {
        'news_title' : news_title,
        'news_p': news_p,
        'featured_image_url': featured_image_url,
        'hemisphere_image_urls': hemisphere_image_urls
    }

print(results)

{'news_title': "NASA's Mars Helicopter to Make First Flight Attempt Sunday", 'news_p': 'The small rotorcraft’s “Wright brothers moment” is two Mars days away.', 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars1.jpg', 'hemisphere_image_urls': [{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}

In [113]:
browser.quit()